<div class="index-page">

  <h1>Demos:</h1>
  <ul>
    <li><a href="/db">db</a></li>
    <li><a href="/upload">file upload</a></li>
    <li><a href="/protected">protected page</a></li>
  </ul>

</div>
